In [95]:
import pandas as pd
import numpy as np

In [96]:
df = pd.read_csv("book.csv")
df.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [97]:
df= df.iloc[:,1:]
df

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [98]:
df[df['User.ID']==276729]

   User.ID            Book.Title  Book.Rating
1   276729          Clara Callan            3
2   276729  Decision in Normandy            6

# Preprocessing

In [99]:
df.duplicated().value_counts()

False    9998
True        2
dtype: int64

In [100]:
df.drop_duplicates(inplace=True)
df

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[9998 rows x 3 columns]

# User Item Matrix

In [101]:
userItem = df.pivot_table(index='User.ID',columns='Book.Title',values='Book.Rating')
userItem

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,ï¿½?ï¿½?bermorgen.
User.ID,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
userItem=userItem.fillna(value=0.0)

In [103]:
from sklearn.metrics import pairwise_distances

In [104]:
sim=1-pairwise_distances(userItem.values,metric='cosine')
sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [105]:
np.fill_diagonal(sim,0)

In [106]:
user_sim = pd.DataFrame(sim)

In [134]:
# user-user matrix
user_sim

User.ID,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
User.ID,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
user_sim.index = userItem.index
user_sim.columns = userItem.index

In [109]:
#user - user matrix
user_sim

User.ID,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
User.ID,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Most similiar user pairs

In [173]:
user_sim.idxmax(axis=1)

User.ID
8              8
9              8
10             8
12             8
14             8
           ...
278846         8
278849         8
278851    278202
278852         8
278854         8
Length: 2182, dtype: int64

In [171]:
# TOP 5 for each user id which have a similiar pair 
count = 1
for id in user_sim.index[1:]:
    df_new = pd.DataFrame(user_sim.iloc[count,0:])
    l=[]
    for i in list(range(0,5)):
        l.append(df_new.idxmax()[id])
        df_new.drop(index=df_new.idxmax()[id],axis=0,inplace=True)
    count = count+1
    if l!=[8, 9, 10, 12, 14]:
        print("user id:"+str(id)+" "*10+str(l))

user id:19          [278418, 8, 9, 10, 12]
user id:51          [3757, 8, 9, 10, 12]
user id:53          [1996, 276847, 8, 9, 10]
user id:82          [882, 8, 9, 10, 12]
user id:83          [276861, 8, 9, 10, 12]
user id:85          [1211, 8, 9, 10, 12]
user id:86          [276780, 8, 9, 10, 12]
user id:160          [899, 8, 9, 10, 12]
user id:183          [1123, 277605, 276984, 277087, 8]
user id:190          [277427, 8, 9, 10, 12]
user id:242          [277982, 2769, 8, 9, 10]
user id:254          [160871, 8, 9, 10, 12]
user id:316          [161098, 8, 9, 10, 12]
user id:392          [277009, 3538, 2084, 8, 9]
user id:444          [503, 277203, 8, 9, 10]
user id:446          [161882, 8, 9, 10, 12]
user id:486          [276925, 8, 9, 10, 12]
user id:503          [444, 4066, 8, 9, 10]
user id:505          [276798, 3827, 8, 9, 10]
user id:507          [277228, 3728, 625, 2439, 8]
user id:508          [3874, 8, 9, 10, 12]
user id:596          [277527, 278633, 278418, 8, 9]
user id:625          [507, 4149, 8, 9, 10]
user id:638          [278418, 8, 9, 10, 12]
user id:643          [276872, 3675, 8, 9, 10]
user id:651          [278137, 8, 9, 10, 12]
user id:657          [1178, 8, 9, 10, 12]
user id:698          [161645, 8, 9, 10, 12]
user id:705          [162063, 8, 9, 10, 12]
user id:735          [277246, 2693, 277554, 277195, 8]
user id:741          [1056, 161694, 161039, 277427, 8]
user id:753          [278202, 8, 9, 10, 12]
user id:763          [2337, 8, 9, 10, 12]
user id:776          [278188, 8, 9, 10, 12]
user id:819          [161102, 8, 9, 10, 12]
user id:850          [899, 8, 9, 10, 12]
user id:882          [82, 278636, 277808, 2552, 278668]
user id:899          [850, 160, 8, 9, 10]
user id:901          [277197, 8, 9, 10, 12]
user id:933          [162004, 8, 9, 10, 12]
user id:984          [3346, 2033, 8, 9, 10]
user id:1025          [278218, 8, 9, 10, 12]
user id:1032          [1435, 8, 9, 10, 12]
user id:1056          [741, 8, 9, 10, 12]
user id:1063          [276929, 8, 9, 10, 12]
user id:1075          [2033, 8, 9, 10, 12]
user id:1113          [277171, 2276, 8, 9, 10]
user id:1116          [278843, 8, 9, 10, 12]
user id:1123          [183, 8, 9, 10, 12]
user id:1129          [1733, 8, 9, 10, 12]
user id:1131          [278637, 277563, 8, 9, 10]
user id:1155          [1161, 277427, 8, 9, 10]
user id:1161          [1155, 8, 9, 10, 12]
user id:1178          [657, 8, 9, 10, 12]
user id:1192          [277660, 8, 9, 10, 12]
user id:1200          [278418, 8, 9, 10, 12]
user id:1211          [85, 2611, 277698, 161252, 278194]
user id:1219          [277018, 8, 9, 10, 12]
user id:1248          [277427, 8, 9, 10, 12]
user id:1297          [277427, 3757, 8, 9, 10]
user id:1309          [3538, 8, 9, 10, 12]
user id:1326          [1559, 8, 9, 10, 12]
user id:1348          [2576, 160926, 1733, 8, 9]
user id:1377          [1848, 8, 9, 10, 12]
user id:1378          [3192, 278633, 8, 9, 10]
user id:1412          [1733, 8, 9, 10, 12]
user id:1424          [161348, 8, 9, 10, 12]
user id:1435          [1032, 3017, 4157, 277478, 8]
user id:1466          [1674, 8, 9, 10, 12]
user id:1467          [278297, 8, 9, 10, 12]
user id:1485          [278356, 8, 9, 10, 12]
user id:1513          [4197, 8, 9, 10, 12]
user id:1545          [277710, 8, 9, 10, 12]
user id:1548          [3640, 278356, 278418, 8, 9]
user id:1559          [1326, 8, 9, 10, 12]
user id:1585          [278535, 8, 9, 10, 12]
user id:1619          [2891, 8, 9, 10, 12]
user id:1650          [2363, 8, 9, 10, 12]
user id:1660          [161870, 277427, 8, 9, 10]
user id:1674          [278245, 1466, 1850, 2024, 4197]
user id:1706          [278356, 8, 9, 10, 12]
user id:1725          [3142, 8, 9, 10, 12]
user id:1733          [2576, 160926, 276762, 1348, 1412]
user id:1773          [161041, 8, 9, 10, 12]
user id:1791          [278418, 8, 9, 10, 12]
user id:1835          [277427, 8, 9, 10, 12]
user id:1848          [1377, 8, 9, 10, 12]
user id:1850          [2024, 1674, 8, 9, 10]
user id:1881          [276847, 8, 9, 10, 12]
user id:1891          [3167, 8, 9, 10, 12]
user id:1903          [3363, 161533, 161750, 8, 9]
user id:1928          [2893, 8, 9, 10, 12]
user id:1990          [161065, 8, 9, 10, 12]
user id:1996          [53, 8, 9, 10, 12]
user id:2010          [277427, 8, 9, 10, 12]
user id:2024          [1850, 162030, 1674, 278582, 2033]
user id:2033          [276986, 277378, 1075, 276939, 3594]
user id:2070          [278161, 8, 9, 10, 12]
user id:2077          [277938, 8, 9, 10, 12]
user id:2084          [392, 8, 9, 10, 12]
user id:2090          [276953, 8, 9, 10, 12]
user id:2103          [277087, 8, 9, 10, 12]
user id:2110          [278248, 882, 8, 9, 10]
user id:2136          [162052, 8, 9, 10, 12]
user id:2170          [161744, 8, 9, 10, 12]
user id:2172          [161619, 8, 9, 10, 12]
user id:2179          [161777, 8, 9, 10, 12]
user id:2197          [161795, 8, 9, 10, 12]
user id:2198          [2891, 8, 9, 10, 12]
user id:2276          [277830, 161238, 161075, 1113, 277171]
user id:2313          [3363, 8, 9, 10, 12]
user id:2337          [3368, 763, 161974, 161041, 3757]
user id:2355          [277284, 161234, 2442, 8, 9]
user id:2363          [1650, 8, 9, 10, 12]
user id:2411          [161936, 8, 9, 10, 12]
user id:2437          [161173, 8, 9, 10, 12]
user id:2439          [277228, 507, 4017, 8, 9]
user id:2442          [4207, 3960, 2355, 4128, 277284]
user id:2461          [276928, 278188, 8, 9, 10]
user id:2462          [277856, 3757, 8, 9, 10]
user id:2520          [4225, 8, 9, 10, 12]
user id:2552          [882, 8, 9, 10, 12]
user id:2576          [160926, 1348, 1733, 8, 9]
user id:2578          [3791, 8, 9, 10, 12]
user id:2599          [276939, 8, 9, 10, 12]
user id:2611          [1211, 8, 9, 10, 12]
user id:2685          [3757, 8, 9, 10, 12]
user id:2693          [735, 8, 9, 10, 12]
user id:2719          [161102, 8, 9, 10, 12]
user id:2766          [277533, 277087, 3363, 2033, 8]
user id:2769          [277982, 242, 8, 9, 10]
user id:2891          [2198, 1619, 8, 9, 10]
user id:2893          [1928, 8, 9, 10, 12]
user id:2977          [278137, 8, 9, 10, 12]
user id:3017          [1435, 8, 9, 10, 12]
user id:3142          [1725, 8, 9, 10, 12]
user id:3167          [1891, 277915, 4197, 8, 9]
user id:3192          [1378, 278633, 8, 9, 10]
user id:3326          [3719, 161577, 161619, 161480, 8]
user id:3346          [277765, 984, 162052, 2033, 8]
user id:3355          [3363, 8, 9, 10, 12]
user id:3363          [3355, 2313, 2766, 1903, 8]
user id:3368          [2337, 8, 9, 10, 12]
user id:3481          [161200, 8, 9, 10, 12]
user id:3538          [1309, 392, 8, 9, 10]
user id:3556          [161974, 2442, 8, 9, 10]
user id:3578          [277517, 276872, 8, 9, 10]
user id:3594          [276954, 2033, 8, 9, 10]
user id:3601          [277619, 8, 9, 10, 12]
user id:3640          [1548, 8, 9, 10, 12]
user id:3660          [278026, 8, 9, 10, 12]
user id:3675          [643, 8, 9, 10, 12]
user id:3719          [3326, 161577, 161619, 8, 9]
user id:3728          [507, 8, 9, 10, 12]
user id:3757          [51, 276808, 3839, 1297, 4149]
user id:3791          [2578, 161200, 8, 9, 10]
user id:3827          [277743, 277588, 161577, 505, 8]
user id:3837          [161974, 8, 9, 10, 12]
user id:3839          [3757, 8, 9, 10, 12]
user id:3840          [3757, 8, 9, 10, 12]
user id:3874          [508, 8, 9, 10, 12]
user id:3917          [3923, 8, 9, 10, 12]
user id:3923          [3917, 8, 9, 10, 12]
user id:3951          [3952, 276934, 8, 9, 10]
user id:3952          [3951, 276934, 8, 9, 10]
user id:3960          [2442, 8, 9, 10, 12]
user id:4017          [161542, 161730, 277188, 277378, 2439]
user id:4049          [4207, 2442, 278633, 276875, 8]
user id:4066          [503, 8, 9, 10, 12]
user id:4090          [4091, 8, 9, 10, 12]
user id:4091          [4090, 8, 9, 10, 12]
user id:4092          [161936, 8, 9, 10, 12]
user id:4128          [2442, 8, 9, 10, 12]
user id:4149          [3757, 625, 8, 9, 10]
user id:4157          [4209, 1435, 3757, 8, 9]
user id:4197          [1513, 277915, 3167, 1674, 8]
user id:4207          [4049, 2442, 278633, 276875, 8]
user id:4209          [4157, 8, 9, 10, 12]
user id:4225          [2520, 8, 9, 10, 12]

user id:160871          [254, 8, 9, 10, 12]
user id:160926          [2576, 1348, 1733, 8, 9]
user id:160939          [278529, 8, 9, 10, 12]
user id:161039          [161694, 741, 8, 9, 10]
user id:161041          [1773, 2337, 8, 9, 10]
user id:161065          [1990, 8, 9, 10, 12]
user id:161075          [2276, 8, 9, 10, 12]
user id:161098          [316, 8, 9, 10, 12]
user id:161102          [819, 2719, 8, 9, 10]
user id:161167          [277554, 8, 9, 10, 12]
user id:161173          [2437, 8, 9, 10, 12]
user id:161200          [276800, 276808, 278675, 3481, 3791]
user id:161211          [277439, 8, 9, 10, 12]
user id:161222          [278064, 8, 9, 10, 12]
user id:161234          [2355, 277284, 2442, 162052, 8]
user id:161238          [2276, 8, 9, 10, 12]
user id:161250          [277945, 8, 9, 10, 12]
user id:161252          [1211, 8, 9, 10, 12]
user id:161265          [277203, 8, 9, 10, 12]
user id:161338          [277427, 8, 9, 10, 12]
user id:161348          [1424, 8, 9, 10, 12]
user id:161356          [278418, 8, 9, 10, 12]
user id:161361          [277982, 2442, 8, 9, 10]
user id:161373          [278844, 8, 9, 10, 12]
user id:161480          [3326, 8, 9, 10, 12]
user id:161533          [161750, 1903, 8, 9, 10]
user id:161542          [278582, 4017, 8, 9, 10]
user id:161577          [3326, 161986, 3719, 161619, 3827]
user id:161619          [3326, 2172, 3719, 161577, 8]
user id:161645          [698, 8, 9, 10, 12]
user id:161694          [741, 161039, 8, 9, 10]
user id:161730          [4017, 8, 9, 10, 12]
user id:161744          [2170, 8, 9, 10, 12]
user id:161750          [161533, 278536, 1903, 8, 9]
user id:161765          [277427, 8, 9, 10, 12]
user id:161777          [2179, 8, 9, 10, 12]
user id:161794          [276866, 8, 9, 10, 12]
user id:161795          [2197, 8, 9, 10, 12]
user id:161831          [278694, 278026, 8, 9, 10]
user id:161861          [2276, 8, 9, 10, 12]
user id:161870          [1660, 277427, 8, 9, 10]
user id:161880          [277687, 8, 9, 10, 12]
user id:161882          [446, 8, 9, 10, 12]
user id:161899          [161936, 8, 9, 10, 12]
user id:161936          [2411, 161899, 4092, 8, 9]
user id:161974          [3837, 277002, 277232, 278100, 3556]
user id:161986          [161577, 8, 9, 10, 12]
user id:161993          [277514, 276925, 8, 9, 10]
user id:162004          [933, 8, 9, 10, 12]
user id:162014          [278044, 8, 9, 10, 12]
user id:162030          [2024, 277087, 8, 9, 10]
user id:162035          [277711, 8, 9, 10, 12]
user id:162052          [2136, 278007, 276822, 277168, 161234]
user id:162063          [705, 8, 9, 10, 12]
user id:276744          [278012, 8, 9, 10, 12]
user id:276762          [277527, 1733, 8, 9, 10]
user id:276780          [86, 8, 9, 10, 12]
user id:276798          [278202, 505, 8, 9, 10]
user id:276800          [278675, 161200, 8, 9, 10]
user id:276808          [161200, 3757, 8, 9, 10]
user id:276813          [278844, 277203, 8, 9, 10]
user id:276814          [277240, 278648, 8, 9, 10]
user id:276822          [162052, 8, 9, 10, 12]
user id:276847          [1881, 53, 8, 9, 10]
user id:276850          [278206, 8, 9, 10, 12]
user id:276854          [276929, 8, 9, 10, 12]
user id:276859          [278418, 8, 9, 10, 12]
user id:276861          [83, 277710, 8, 9, 10]
user id:276866          [161794, 882, 8, 9, 10]
user id:276872          [277517, 3578, 643, 8, 9]
user id:276875          [4207, 4049, 2442, 278633, 8]
user id:276912          [277873, 8, 9, 10, 12]
user id:276925          [278263, 486, 161993, 277427, 8]
user id:276928          [2461, 278188, 277427, 8, 9]
user id:276929          [276854, 1063, 278418, 277203, 8]
user id:276934          [3951, 3952, 8, 9, 10]
user id:276939          [2599, 277378, 276998, 277965, 278221]
user id:276953          [2090, 8, 9, 10, 12]
user id:276954          [3594, 8, 9, 10, 12]
user id:276964          [277087, 8, 9, 10, 12]
user id:276965          [277157, 8, 9, 10, 12]
user id:276984          [183, 162052, 8, 9, 10]
user id:276986          [2033, 8, 9, 10, 12]
user id:276998          [276939, 8, 9, 10, 12]
user id:277002          [161974, 8, 9, 10, 12]
user id:277009          [392, 8, 9, 10, 12]
user id:277012          [277157, 8, 9, 10, 12]
user id:277018          [1219, 8, 9, 10, 12]
user id:277032          [277478, 8, 9, 10, 12]
user id:277087          [2103, 277478, 276964, 161200, 162030]
user id:277157          [276965, 277012, 3757, 8, 9]
user id:277168          [162052, 8, 9, 10, 12]
user id:277171          [1113, 277945, 278137, 2276, 8]
user id:277188          [4017, 8, 9, 10, 12]
user id:277189          [277523, 8, 9, 10, 12]
user id:277195          [735, 8, 9, 10, 12]
user id:277197          [901, 8, 9, 10, 12]
user id:277203          [444, 276813, 161265, 278418, 276929]
user id:277228          [2439, 507, 8, 9, 10]
user id:277232          [161974, 8, 9, 10, 12]
user id:277240          [276814, 278648, 8, 9, 10]
user id:277244          [278244, 8, 9, 10, 12]
user id:277246          [735, 8, 9, 10, 12]
user id:277284          [2355, 161234, 2442, 8, 9]
user id:277378          [276939, 277965, 278221, 4017, 2033]
user id:277427          [190, 1835, 278319, 161765, 161338]
user id:277439          [161211, 8, 9, 10, 12]
user id:277471          [277478, 8, 9, 10, 12]
user id:277478          [277032, 277471, 277087, 1435, 278418]
user id:277514          [161993, 8, 9, 10, 12]
user id:277517          [276872, 3578, 8, 9, 10]
user id:277523          [277189, 8, 9, 10, 12]
user id:277527          [276762, 596, 1733, 278633, 278418]
user id:277533          [2766, 8, 9, 10, 12]
user id:277554          [735, 161167, 8, 9, 10]
user id:277563          [1131, 8, 9, 10, 12]
user id:277575          [278529, 277639, 8, 9, 10]
user id:277585          [277622, 278843, 8, 9, 10]
user id:277588          [3827, 8, 9, 10, 12]
user id:277605          [183, 8, 9, 10, 12]
user id:277619          [3601, 8, 9, 10, 12]
user id:277622          [277585, 8, 9, 10, 12]
user id:277639          [277575, 278314, 278529, 3757, 8]
user id:277660          [1192, 8, 9, 10, 12]
user id:277687          [161880, 8, 9, 10, 12]
user id:277698          [1211, 8, 9, 10, 12]
user id:277710          [278715, 1545, 276861, 8, 9]
user id:277711          [162035, 8, 9, 10, 12]
user id:277743          [3827, 8, 9, 10, 12]
user id:277765          [3346, 8, 9, 10, 12]
user id:277808          [882, 8, 9, 10, 12]
user id:277830          [2276, 8, 9, 10, 12]
user id:277856          [2462, 8, 9, 10, 12]
user id:277873          [276912, 8, 9, 10, 12]
user id:277879          [2442, 8, 9, 10, 12]
user id:277915          [4197, 3167, 8, 9, 10]
user id:277938          [2077, 8, 9, 10, 12]
user id:277945          [161250, 277171, 8, 9, 10]
user id:277959          [278843, 277427, 8, 9, 10]
user id:277965          [276939, 277378, 278221, 4017, 2276]
user id:277982          [161361, 2769, 242, 2442, 8]
user id:278007          [162052, 8, 9, 10, 12]
user id:278012          [276744, 8, 9, 10, 12]
user id:278013          [278197, 8, 9, 10, 12]
user id:278026          [3660, 161831, 277427, 278188, 8]
user id:278044          [162014, 8, 9, 10, 12]
user id:278054          [3757, 8, 9, 10, 12]
user id:278064          [161222, 8, 9, 10, 12]
user id:278100          [161974, 8, 9, 10, 12]
user id:278110          [278131, 8, 9, 10, 12]
user id:278131          [278110, 8, 9, 10, 12]
user id:278137          [277171, 651, 2977, 8, 9]
user id:278161          [2070, 8, 9, 10, 12]
user id:278188          [2461, 776, 276928, 278026, 278633]
user id:278194          [278336, 1211, 277427, 8, 9]
user id:278197          [278013, 8, 9, 10, 12]
user id:278202          [276798, 753, 278851, 8, 9]
user id:278206          [276850, 8, 9, 10, 12]
user id:278218          [1025, 8, 9, 10, 12]
user id:278221          [276939, 278346, 277378, 277965, 8]
user id:278244          [277244, 8, 9, 10, 12]
user id:278245          [1674, 8, 9, 10, 12]
user id:278248          [2110, 8, 9, 10, 12]
user id:278255          [278418, 8, 9, 10, 12]
user id:278263          [276925, 8, 9, 10, 12]
user id:278297          [1467, 8, 9, 10, 12]
user id:278314          [277639, 8, 9, 10, 12]
user id:278319          [277427, 8, 9, 10, 12]
user id:278336          [278194, 8, 9, 10, 12]
user id:278346          [278221, 162052, 8, 9, 10]
user id:278356          [1485, 1706, 1548, 8, 9]

user id:278418          [1200, 19, 161356, 1791, 596]
user id:278449          [1733, 8, 9, 10, 12]
user id:278529          [277575, 160939, 277639, 8, 9]
user id:278535          [1585, 8, 9, 10, 12]
user id:278536          [161750, 8, 9, 10, 12]
user id:278550          [1733, 8, 9, 10, 12]
user id:278582          [161542, 2024, 4017, 8, 9]
user id:278633          [1378, 4207, 4049, 3192, 596]
user id:278636          [882, 8, 9, 10, 12]
user id:278637          [1131, 8, 9, 10, 12]
user id:278648          [277240, 276814, 8, 9, 10]
user id:278668          [882, 8, 9, 10, 12]
user id:278675          [276800, 161200, 8, 9, 10]
user id:278694          [161831, 8, 9, 10, 12]
user id:278715          [277710, 8, 9, 10, 12]
user id:278843          [277959, 277585, 1116, 3757, 8]
user id:278844          [276813, 161373, 8, 9, 10]
user id:278851          [278202, 8, 9, 10, 12]

In [192]:
df1=df[df['User.ID']==19]
df1

      User.ID       Book.Title  Book.Rating
2417       19  The Murder Book            7

In [194]:
df2=df[df['User.ID']==278418]
df2

      User.ID                                         Book.Title  Book.Rating
1905   278418                                                253            5
1906   278418                                      Brighton Rock            8
1907   278418                                 Irene's Last Waltz            8
1908   278418  Into Thin Air : A Personal Account of the Mt. ...            6
1909   278418  The Phantom of the Opera (Signet Classics (Pap...            5
...       ...                                                ...          ...
2017   278418                                          Third Eye            8
2018   278418                                    Criminal Intent            9
2019   278418                          Exiles Trilogy From Earth            5
2020   278418                                             HABIBI            3
2021   278418       Ishmael: An Adventure of the Mind and Spirit            5

[117 rows x 3 columns]

In [195]:
# Checking for similiarity between users 278851 and 278202
pd.merge(df1,df2,on='Book.Title',how='inner')

   User.ID_x       Book.Title  Book.Rating_x  User.ID_y  Book.Rating_y
0         19  The Murder Book              7     278418              6

# In this case, we see that user Id 19 and user Id 278418 have similiar taste in books from the rating, we can suggest all other books read by user 278418 to user 19